<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <h1 class="up">Главная страница</h1>
    <a href="/api/v1/dates/" class="center" style="font-size: large;">Смотреть даты</a>
    <div class="down">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quasi quod tempora nisi odio magni dolore perspiciatis velit. Soluta, natus impedit perferendis quibusdam rerum corporis libero laudantium dolor sequi debitis.</p>
    </div>
</body>
<script>
    window.addEventListener('beforeunload', function (event) {
        event.preventDefault();
        const message = "Вы уверены что хотите покинуть страницу?";
        event.returnValue = message;
        return message;
    });
</script>
</html>