<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Posts create</title>
</head>
<body>
    <div class="container p-3 d-flex flex-column align-items-center border border-secondary rounded-2 bg-light">
        <form action="/posts/create" class="d-flex flex-column align-items-center justify-content-center gap-2" id="create-post" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title:<span class="text-danger">*</span></label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body:<span class="text-danger">*</span></label>
                <input type="text" name="body" class="form-control" id="body">
            </div>
            <div class="mb-3">
                <label for="author_id" class="form-label">Author:<span class="text-danger">*</span></label>
                <select name="author_id" id="author_id" class="form-select">
                    <% authors.forEach((author) => { %>
                        <option value="<%= author.id %>"><%= author.fullname %></option>
                    <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</body>
</html>